.container{
    margin: auto;
    margin-top: 80px;
}

.tablero{
    margin-top: 3rem;
}

.cartel{
    background: #7414F5 !important;
}

.tabla-color{
    background: #218EE7 !important;
}

.btn-menu{
    background: #2B74F7 !important;
}

.btn-morado{
    background: #7414F5 !important;
}

.card-tabla{
    background: #9099FE;
}


.card-material {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.page-link{
    background-color: #2B74F7 !important;
    color: white;
}

.page-item.active .page-link{
    background-color: #218EE7 !important;
}

.page-item.disabled .page-link{
    color: black;
}


.cantidad{
    float: right;
    font-size: 20px;
}